
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
/*Primary color*/
--Very-dark-blue: hsl(233, 47%, 7%); /*(main background)*/
--Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
--Soft-violet: hsl(277, 64%, 61%); /*(accent)*/
/*Neutral color*/
--White: hsl(0, 0%, 100%); /*(main heading, stats)*/
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
/*fonts*/
--font-card-main: 'Inter', sans-serif;
--font-card-heading: 'Lexend Deca', sans-serif;
}

body{
    background-color: var(--Very-dark-blue);
    color: var(--Slightly-transparent-white);
    font-family: var(--font-card-main);
    font-size: 15px;
}
main{
    width: 1000px;
    height: 413px;
    margin: auto;
}
.container{
    background-color: var(--Dark-desaturated-blue);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "ca ca ca img"
    "co te qu img";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: 120px;
    border-radius: 8px;
}
.card{
    grid-area: ca;
    text-align: left;
    padding: 60px 40px 0px 60px;
}
h2{
    color: var(--White);
    font-weight: 700;
    font-size: 34px;
}

span{
    color: var(--Soft-violet);
}
.card p{
    margin-right: 60px;
}
p{
    font-size: 15px;
    color: var(--Slightly-transparent-white);
    margin-top: 30px;
    line-height: 25px;
}
.companies{
    grid-area: co;
    margin: 0px 60px;
}
.companies span{
    color: var(--White);
    font-size: 25px;
    font-weight: bold;
}
div.companies > p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
.templates{
    grid-area: te;
}
.templates span{
    color: var(--White);
    font-size: 25px;
    font-weight: bold;
}
div.templates > p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}
.queries{
    grid-area: qu;
}
.queries span{
    color: var(--White);
    font-size: 25px;
    font-weight: bold;

}
div.queries > p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}
div.img{
    grid-area: img;
    max-width: 100%;
    max-height: 99.1%;
    background-color: hsl(277, 64%, 61%);
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
}
img{
    width: 500px;
    mix-blend-mode: multiply;
    border-radius: 0px 8px 8px 0px;
}
.attribution{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.attribution a{
    text-decoration: none;
}

@media  (max-width: 1010px) {
    main{
        width: 355px;
    }
    .container{
        background-color: var(--Dark-desaturated-blue);
        width: 355px;
        height: 860px;
        display: grid;
        grid-template-areas: 
        "img"
        "ca"
        "co"
        "te"
        "qu"
        "f";
        grid-template-columns: 1fr;
        margin: auto;
        margin-top: 50px;
        border-radius: 8px;
    }
    .card{
        grid-area: ca;
        text-align: center;
        padding: 20px;
        width: 355px;
    }
    .card p{
        text-align: center;
        margin: 0px;
        padding: 20px;
        font-size: 17px;
    }
    .companies{
        grid-area: co;
        width: 355px;
        margin: 0;
        text-align: center;
    }
    .templates{
        grid-area: te;
        width: 355px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .queries{
        grid-area: qu;
        width: 355px;
        text-align: center;
    }
    div.img{
        grid-area: img;
        width: 355px;
         height: 93.4%;
        background-color: hsl(277, 64%, 61%);
        border-radius: 8px 8px 0px 0px;
        opacity: 1;
    }
    img{
        width: 355px;
        mix-blend-mode: multiply;
        border-radius: 8px 8px 0px 0px;
    }
    .attribution{
        width: 355px;
    }
}